<div [ngClass]="{
      'h-16 top-0 w-full rounded-none from-black to-orange-900 border-[0.5px] border-transparent': !isScrolled,
      'h-[4rem] top-4 w-[90%] md:w-[70%] rounded-full from-[rgba(0,0,0,0.7)] to-[#7c2d12] border-[0.5px] border-black': isScrolled
    }" class="fixed bg-gradient-to-r shadow-md transition-all duration-500 z-50 mx-auto left-0 right-0">

  <div class="flex h-full justify-between items-center max-w-7xl mx-auto px-8 transition-all duration-500">
    <!-- Logo ou Título -->
    <div class="flex items-center space-x-4 h-full">
      <a href="/" class="relative group text-white text-lg h-full flex items-center px-2 pb-1
          hover:border-b-4 hover:border-orange-600 transition-all duration-100 font-bold">
        HOME
        <div
          class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-20 transition-opacity duration-300">
        </div>
      </a>
    </div>

    <!-- Botões de navegação -->
    <div class="flex items-center space-x-4 h-full">
      <a href="/investimentos" class="relative group text-white text-lg h-full flex items-center px-2 pb-1
          hover:border-b-4 hover:border-orange-600 transition-all duration-100 font-bold">
        INVESTIMENTOS
        <div
          class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-0 group-hover:opacity-20 transition-opacity duration-300">
        </div>
      </a>

      <!-- Botão de Logout -->
      <button (click)="logout()" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
        </svg>
      </button>
    </div>
  </div>
</div>