<div class="min-h-screen flex items-center justify-center bg-slate-600 text-black">
    <div class="bg-white p-6 rounded shadow-md w-96">
        <h1 class="text-5xl font-bold mb-4 text-center">Login</h1>

        <form (submit)="login()">
            <!-- E-mail -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium">E-mail</label>
                <input type="email" id="email" [(ngModel)]="email" name="email" class="w-full mt-1 p-2 border rounded bg-white"
                    required />
            </div>

            <!-- Senha -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium">Senha</label>
                <input type="password" id="password" [(ngModel)]="password" name="password"
                    class="w-full mt-1 p-2 border rounded bg-white" required />
            </div>

            <!-- Botão de Login -->
            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600"
                [disabled]="isLoading">
                {{ isLoading ? 'Entrando...' : 'Entrar' }}
            </button>
        </form>

        <!-- Erro -->
        <div *ngIf="errorMessage" class="mt-4 text-red-500">{{ errorMessage }}</div>
    </div>
</div>