<!-- Botão de ativação -->
<div class="flex items-center justify-between xl:justify-normal xl:gap-4 mb-4 mt-[2rem] cursor-pointer select-none"
  (click)="mostrarGrafico = !mostrarGrafico">
  <h2 class="text-2xl md:text-3xl font-bold text-orange-500">Retornos do Investimento</h2>
  <span class="material-icons text-4xl text-orange-500 transition-transform duration-300"
    [ngClass]="{ 'rotate-180': mostrarGrafico }">expand_more</span>
</div>

<!-- Spinner de carregamento -->
<div *ngIf="loading && mostrarGrafico" class="flex justify-center items-center h-64">
  <span class="material-icons animate-spin text-orange-500 text-4xl">autorenew</span>
</div>

<div class="flex flex-col 2xl:flex-row">
  <!-- GRÁFICO 1 - Retorno Real -->
  <div *ngIf="!loading && mostrarGrafico"
    class="flex flex-col items-center bg-zinc-900 rounded p-4 shadow text-white w-full max-w-3xl mx-auto h-[20rem] md:h-[30rem] transition-all duration-300 ease-in-out">

    <h3 class="text-xl font-bold text-green-400 mb-2">Retorno Obtido</h3>
    <p class="inline-flex items-center">
      <img
        src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
        class="w-5 h-5 mr-2" />
      {{ retornoReal.toFixed(0) }}
    </p>
    <canvas baseChart [data]="{ labels: labelsRetornoReal, datasets: [datasetRetornoReal] }" [type]="'line'"
      [options]="options" class="h-full w-full" (chartClick)="onChartClick($event, 'real')">
    </canvas>
  </div>

  <!-- GRÁFICO 2 - Retorno Estimado Futuro -->
  <div *ngIf="!loading && mostrarGrafico"
    class="flex flex-col items-center bg-zinc-900 mt-6 2xl:mt-0 rounded p-4 shadow text-white w-full max-w-3xl mx-auto h-[20rem] md:h-[30rem] transition-all duration-300 ease-in-out">

    <h3 class="text-xl font-bold text-orange-400 mb-2">Retorno Estimado</h3>
    <p class="inline-flex items-center">
      <img
        src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
        class="w-5 h-5 mr-2" />
      {{ retornoEstimado.toFixed(0) }}
    </p>
    <canvas baseChart [data]="{ labels: labelsEstimadoDias, datasets: [datasetEstimadoDias] }" [type]="'line'"
      [options]="options" class="h-full w-full" (chartClick)="onChartClick($event, 'estimado')">
    </canvas>
  </div>
</div>

<!-- BACKDROP COM CLICK PARA FECHAR -->
<div *ngIf="modalAberto" class="fixed inset-0 bg-black bg-opacity-70 z-50 flex justify-center items-center"
  (click)="fecharModal()">
  <!-- MODAL -->
  <div class="bg-zinc-900 rounded-lg shadow p-6 w-full mx-4 max-w-lg text-white relative" (click)="$event.stopPropagation()">
    <button (click)="fecharModal()" class="absolute top-2 right-2 text-white text-xl">&times;</button>

    <h2 class="text-xl font-bold mb-4">
      {{ tipoGraficoSelecionado === 'real' ? 'Itens vendidos em' : 'Itens com venda prevista em' }} {{ dataSelecionada
      }}
    </h2>

    <h2 class="text-xl font-bold mb-4">
      <div *ngIf="tipoGraficoSelecionado === 'real'">
        <p class="inline-flex items-center">
          <img
            src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
            class="w-5 h-5 mr-2" />
          {{ retornoRealMes.toFixed(0) }}
        </p>
      </div>
      <div *ngIf="tipoGraficoSelecionado === 'estimado'">
        <p class="inline-flex items-center">
          <img
            src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
            class="w-5 h-5 mr-2" />
          {{ retornoEstimadoDia.toFixed(0) }}
        </p>
      </div>
    </h2>

    <div *ngIf="itensSelecionados.length > 0" class="space-y-2 max-h-72 overflow-y-auto">
      <div *ngFor="let item of itensSelecionados"
        class="flex justify-between items-center gap-4 h-[8rem] bg-zinc-800 p-2 rounded">
        <img [src]="item.foto_url" alt="Imagem do Item" class="object-contain h-[5rem] rounded" *ngIf="item.foto_url" />
        <div>
          <p class="font-semibold">{{ item.nome }}</p>
          <p class="text-sm text-zinc-300">
            Compra: {{ item.valor_compra }} |
            {{ item.valor_vendido > 0 ? 'Venda: ' + item.valor_vendido : 'Estimado: ' + item.retornoEstimado }}
          </p>
        </div>
      </div>
    </div>

    <p *ngIf="itensSelecionados.length === 0">Nenhum item encontrado.</p>
  </div>
</div>