<app-navbar></app-navbar>

<div class="p-4 bg-gray-950 min-h-screen">

    <div *ngIf="loading" class="flex justify-center items-center text-white min-h-screen"><span
            class="loading loading-spinner loading-xl"></span></div>

    <div class="py-4 flex flex-col justify-start mt-[4rem]">
        <div class="flex flex-row gap-2">
            <input type="text" [(ngModel)]="itemIdInput" placeholder="Digite o ID do item"
                class="input input-bordered border w-[12rem] bg-white text-black border-gray-400 p-2 rounded" />
            <button (click)="adicionarItem(itemIdInput)"
                class="btn bg-gradient-to-r from-orange-500 to-orange-700 shadow-md text-white w-[9rem] px-4 py-2 rounded"
                [disabled]="isLoading">
                {{ isLoading ? 'Adicionando Item...' : 'Adicionar Item' }}
            </button>
        </div>
        <div *ngIf="mensagem" class="mb-2">
            <div [ngClass]="{
                'bg-green-100 text-green-800 border-green-400': tipoMensagem === 'success',
                'bg-red-100 text-red-800 border-red-400': tipoMensagem === 'error'
                }" class="border px-4 py-2 rounded w-[21rem] mt-4">
                {{ mensagem }}
            </div>
        </div>
    </div>

    <div class="flex flex-row gap-2">
        <div class="mb-4 flex flex-col">
            <button (click)="abrirFiltros()"
                class="flex justify-center items-center mb-4 bg-gradient-to-r from-orange-500 to-orange-700 w-[3rem] text-white rounded shadow-md h-12">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                </svg>
            </button>
        </div>

        <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="applySearch()" placeholder="Buscar por nome"
            class="input input-bordered w-[18rem] border bg-white text-black border-gray-400 p-2 rounded" />
    </div>

    <div *ngIf="mostrarFiltros" @fadeSlide class="fixed flex flex-col md:justify-center md:items-center inset-0 lg:text-lg bg-gray-950 p-8 rounded text-white z-50 h-screen w-full">
        <div class="flex justify-start items-start mb-4">
            <h2 class="text-lg font-bold md:text-2xl lg:text-4xl">Filtros</h2>
        </div>

        <div class="flex flex-col gap-6 md:flex-row md:justify-between md:items-center">
            <!-- Coluna da esquerda: Tipo -->
            <div class="w-64">
                <h2 class="text-lg font-bold mb-2">Filtrar por Tipo</h2>
                <div *ngFor="let tipo of opcoesTipo">
                    <label class="flex items-center mb-1">
                        <input type="radio" [(ngModel)]="filtroTipo" (change)="onTipoChange()" [value]="tipo" class="mr-2 w-6 h-6 appearance-none border-2 border-white rounded-full
                            checked:bg-orange-500 checked:border-orange-500
                            checked:text-white text-white focus:outline-none" />
                        {{ tipo }}
                    </label>
                </div>
            </div>

            <!-- Coluna da direita: Armas ou Operadores -->
            <!-- Área com scroll -->
            <div *ngIf="filtroTipo === 'ARMA'" class="h-64 overflow-y-auto p-2 border rounded-xl">
                <h2 class="text-xl mb-2">Arma:</h2>
                <div class="flex flex-wrap gap-6">
                    <div *ngFor="let grupo of chunkedArmas" class="flex flex-col space-y-2">
                        <label *ngFor="let arma of grupo"
                            class="relative flex items-center cursor-pointer gap-2 select-none">
                            <input type="checkbox" [checked]="filtroArmaSelecionada.includes(arma)"
                                (change)="alternarArmaSelecionada(arma)" class="sr-only peer" />

                            <div
                                class="w-6 h-6 rounded-md border-2 border-white peer-checked:bg-orange-500 peer-checked:border-orange-500 flex items-center justify-center transition-colors duration-200">
                                <!-- Check branco -->
                                <svg *ngIf="filtroArmaSelecionada.includes(arma)" xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586 4.707 9.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>

                            {{ arma }}
                        </label>
                    </div>
                </div>
            </div>

            <div *ngIf="filtroTipo === 'HEADGEAR' || filtroTipo === 'UNIFORM'"
                class="h-64 overflow-y-auto p-2 border rounded-xl">
                <h2 class="text-xl mb-2">{{ filtroTipo === 'HEADGEAR' ? 'Headgear:' :
                    'Uniforme:'
                    }}</h2>
                <div class="flex flex-wrap gap-6">
                    <div *ngFor="let grupo of chunkedOperadores" class="flex flex-col space-y-2">
                        <label *ngFor="let operador of grupo"
                            class="relative flex items-center cursor-pointer gap-2 select-none">
                            <input type="checkbox" [checked]="filtroOperadorSelecionado.includes(operador)"
                                (change)="alternarOperadorSelecionado(operador)" class="sr-only peer" />

                            <div
                                class="w-6 h-6 rounded-md border-2 border-white peer-checked:bg-orange-500 peer-checked:border-orange-500 flex items-center justify-center transition-colors duration-200">
                                <!-- Check branco -->
                                <svg *ngIf="filtroOperadorSelecionado.includes(operador)" xmlns="http://www.w3.org/2000/svg"
                                    class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 00-1.414 0L8 12.586 4.707 9.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l8-8a1 1 0 000-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>

                            {{ operador }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="flex flex-col md:w-[16rem]">
                <button (click)="fecharFiltros()"
                    class="text-xl bg-orange-600 text-white py-2 rounded-full mb-4">
                    Aplicar
                </button>
                <button (click)="limparFiltros()" class="text-xl text-white py-2 border border-white rounded-full mb-4">
                    Limpar filtros
                </button>
                <button (click)="fecharFiltros()" class="text-base text-orange-600">
                    Fechar
                </button>
            </div>
        </div>
    </div>

    <!-- Mostrar os cards -->
    <div *ngIf="!loading && paginaItens.length > 0" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let item of paginaItens"
            class="bg-zinc-900 shadow rounded text-center group relative cursor-pointer p-2" (click)="abrirModal(item)">

            <!-- Informações do Item -->
            <div class="flex flex-col justify-around p-4 text-white h-full">
                <!-- Nome do Item -->
                <h3 class="mt-2 text-5xl font-anton">{{ item.nome }}</h3>

                <!-- Tipo do Item -->
                <p class="mt-1 text-2xl">
                    {{ item.tipo }}
                </p>

                <!-- Imagem -->
                <div class="relative w-full h-64 overflow-hidden rounded">
                    <img [src]="item.url_foto" alt="Imagem do Item" class="object-contain w-full h-full rounded"
                        *ngIf="item.url_foto" />
                </div>

                <!-- Arma ou Operador -->
                <p class="mt-1 text-lg">
                    {{ item.tipo === 'HEADGEAR' || item.tipo === 'UNIFORM' ? item.arma_operador : item.arma_operador
                    }}
                </p>
            </div>
        </div>
    </div>

    <!-- Mensagem se não houver itens -->
    <div *ngIf="!loading && filteredItens.length === 0" class="text-gray-500">
        Nenhum item encontrado.
    </div>

    <app-pagination [items]="filteredItens" [itemsPerPage]="40" (pageChanged)="paginaItens = $event"></app-pagination>

</div>

<!-- Modal -->
<div *ngIf="modalAberto" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50"
    (click)="fecharModal()">
    <div class="bg-zinc-900 border-slate-600 border-2 p-8 rounded-lg shadow-lg w-96" (click)="$event.stopPropagation()">
        <img [src]="modalItem.url_foto" alt="Imagem do Item"
            class="object-contain w-full min-h-[16.5rem] rounded" *ngIf="modalItem.url_foto" />
        <!-- Usar o nome do item no título -->
        <h2 class="text-center text-2xl font-bold mt-4 mb-4 text-white">{{ modalItem.nome }}</h2>

        <div class="flex flex-row justify-between w-full">
            <!-- Campos do Modal -->
            <div class="mb-4">
                <input type="number" id="campo1" [(ngModel)]="modalItem.campo1"
                    class="mt-1 p-2 w-[9.375rem] h-[2.63rem] border border-gray-300 rounded bg-white text-sm text-black placeholder-black"
                    placeholder="Valor de compra" />
            </div>

            <div class="mb-4">
                <input type="datetime-local" id="campo2" [(ngModel)]="modalItem.campo2"
                    class="mt-1 p-2 w-[9.375rem] h-[2.63rem] border border-gray-300 rounded bg-white text-black text-xs" />
            </div>
        </div>

        <!-- Botões -->
        <div class="flex justify-end mt-4">
            <button (click)="fecharModal()"
                class="px-4 py-2 bg-transparent text-white rounded mr-2 text-lg">Cancelar</button>
            <button (click)="salvarModal()" class="px-4 py-2 bg-gradient-to-r from-orange-500 to-orange-700 text-white rounded text-lg">Salvar</button>
        </div>
    </div>
</div>