<app-navbar></app-navbar>

<div class="p-4 bg-gradient-to-t from-black to-gray-900">

    <div class="mb-4 p-4 bg-black rounded-lg shadow">
        <div class="flex justify-around">
            <div class="flex flex-col mr-4">
                <span class="font-semibold text-white">Valor no inventario:</span>
                <div class="bg-white inline-flex items-center w-20 rounded">
                    <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                        alt="" class="w-5 h-5 mr-2 align-middle ml-2">
                    <span class="text-black font-bold">{{quantidadeInvestida}}</span>
                </div>
            </div>
            <div class="flex flex-col mr-4">
                <span class="font-semibold text-white">Retorno estimado:</span>
                <div class="bg-white inline-flex items-center w-20 rounded">
                    <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                        alt="" class="w-5 h-5 mr-2 align-middle ml-2">
                    <span class="text-black font-bold">{{retornoEstimado}}</span>
                </div>
            </div>
            <div class="flex flex-col mr-4 ml-4">
                <span class="font-semibold text-white">Retorno Obtido:</span>
                <div class="bg-green-500 inline-flex items-center w-20 rounded">
                    <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                        alt="" class="w-5 h-5 mr-2 align-middle ml-2">
                    <span class="text-black font-bold">{{retornoObtido}}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Botões de filtro -->
    <div class="flex space-x-4 mb-4">
        <button (click)="statusFiltro = 'aguardando'"
            [ngClass]="{ 'bg-blue-500 text-white': statusFiltro === 'aguardando', 'bg-gray-500 text-gray-200': statusFiltro !== 'aguardando' }"
            class="px-4 py-2 rounded-lg">
            Aguardando venda
        </button>
        <button (click)="statusFiltro = 'vendidos'"
            [ngClass]="{ 'bg-blue-500 text-white': statusFiltro === 'vendidos', 'bg-gray-500 text-gray-200': statusFiltro !== 'vendidos' }"
            class="px-4 py-2 rounded-lg">
            Vendidos
        </button>
        <hr>
    </div>

    <div class="flex space-x-4 mb-4">
        <button (click)="statusOrdenacao = 'recente'"
            [ngClass]="{ 'bg-green-500 text-white': statusOrdenacao === 'recente', 'bg-gray-500 text-gray-200': statusOrdenacao !== 'recente' }"
            class="px-4 py-2 rounded-lg">
            Mais recentes
        </button>
        <button (click)="statusOrdenacao = 'antigo'"
            [ngClass]="{ 'bg-green-500 text-white': statusOrdenacao === 'antigo', 'bg-gray-500 text-gray-200': statusOrdenacao !== 'antigo' }"
            class="px-4 py-2 rounded-lg">
            Mais antigos
        </button>
    </div>

    <!-- Indicador de carregamento -->
    <div *ngIf="loading" class="text-white">Carregando investimentos...</div>

    <!-- Mensagem de erro -->
    <div *ngIf="error" class="text-red-500">
        {{ error }}
    </div>

    <!-- Lista de investimentos -->
    <div *ngIf="!loading && investimentos.length > 0" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- Card container -->
        <div *ngFor="let investimento of investimentosFiltrados" #cardRef [attr.id]="'card-' + investimento.id_item"
            [ngClass]="{
    'md:col-span-3 md:row-span-3 lg:col-span-4 lg:h-[36rem] xl:h-[48rem]': isDetalheVisivel(investimento.id_item)
  }" class="bg-slate-800 h-full shadow rounded group relative pb-10 transition-all duration-300 ease-in-out">

            <!-- CONTEÚDO PADRÃO - só aparece quando o card está fechado -->
            <ng-container *ngIf="!isDetalheVisivel(investimento.id_item)">
                <!-- Imagem -->
                <div class="relative w-full h-64 overflow-hidden rounded p-2">
                    <img [src]="investimento.foto_url" alt="Imagem do investimento"
                        class="object-contain w-full h-full rounded bg-black" *ngIf="investimento.foto_url" />
                    <div
                        class="absolute inset-0 bg-gradient-to-t from-orange-500 to-transparent opacity-0 group-hover:opacity-20 transition-opacity duration-300">
                    </div>
                </div>

                <!-- Selos superiores -->
                <div class="absolute top-2 left-2 text-s px-2 py-1 rounded shadow bg-black text-white border">
                    <span class="inline-flex items-center">
                        <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                            class="w-5 h-5 mr-2" />
                        {{ investimento.valor_compra | number }}
                    </span>
                </div>
                <div class="absolute top-2 right-2 text-s px-2 py-1 rounded shadow bg-black text-white border">
                    <span *ngIf="valoresMedios[investimento.id_item]" class="inline-flex items-center">
                        Média 24h:
                        <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                            class="w-5 h-5 mx-2" />
                        {{ valoresMedios[investimento.id_item] }}
                    </span>
                </div>

                <!-- Nome e tipo -->
                <div class="flex flex-col items-center justify-center py-2">
                    <h2 class="text-white font-semibold text-lg font-sans">{{ investimento.nome }}</h2>
                    <h3 class="text-white font-semibold text-base font-sans">{{ investimento.tipo }}</h3>
                </div>
            </ng-container>

            <!-- CONTEÚDO DETALHADO - só aparece quando o card está aberto -->
            <div *ngIf="isDetalheVisivel(investimento.id_item)"
                class="md:grid md:grid-cols-2 gap-4 p-4 text-left h-full">
                <!-- Esquerda: imagem -->
                <div class="flex justify-center w-full max-h-[100%] overflow-hidden">
                    <img [src]="investimento.foto_url" alt="Imagem do investimento"
                        class="object-contain w-full rounded bg-black" />
                </div>

                <!-- Direita: dados -->
                <div class="flex flex-col justify-center">
                    <h1 class="text-white font-semibold text-4xl font-sans mb-2">{{ investimento.nome }}</h1>
                    <h2 class="text-white font-semibold text-lg font-sans mb-2">Tipo: {{ investimento.tipo }}</h2>
                    <p class="text-white font-sans mb-2"><strong>Data de Venda:</strong> {{ investimento.data_venda |
                        date:'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text-white font-sans mb-2">
                        <strong>Valor Mínimo de Venda:</strong>
                        <span class="inline-flex items-center ml-2">
                            <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                                class="w-5 h-5 mr-2" />
                            {{ investimento.valor_minimo_venda | number }}
                        </span>
                    </p>
                    <p class="text-white font-sans mb-2">
                        <strong>Valor Vendido:</strong>
                        <span class="inline-flex items-center ml-2">
                            <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                                class="w-5 h-5 mr-2" />
                            {{ investimento.valor_vendido | number }}
                        </span>
                    </p>

                    <div class="mt-2">
                        <p class="text-white text-medium font-sans"><strong>Lucro:</strong>
                            <span class="inline-flex items-center ml-2">
                                <img src="https://ubiservices.cdn.ubi.com/0d2ae42d-4c27-4cb7-af6c-2099062302bb/DeployerAssetsJune2023/a096d28b_005a_425c_a58c_1a5ff7b13bea.png"
                                    alt="" class="w-5 h-5 mr-2 align-middle">
                                {{
                                (investimento.valor_vendido - (investimento.valor_vendido * 0.1) -
                                investimento.valor_compra).toFixed(0) | number
                                }}
                            </span>
                        </p>
                        <p class="mt-2 text-white text-medium font-sans">
                            <strong>Lucro Percentual:</strong>
                            {{
                            ((investimento.valor_vendido - (investimento.valor_vendido * 0.1) -
                            investimento.valor_compra) /
                            investimento.valor_compra) * 100
                            | number:'1.2-2'
                            }}%
                        </p>
                    </div>

                    <div class="mt-4 flex justify-center md:justify-start gap-4">
                        <button (click)="openMarketplace(investimento.id_item)"
                            class="btn bg-gradient-to-r from-orange-500 to-orange-700 shadow-md text-white px-4 py-2 ml-2 rounded">Ver
                            no
                            marketplace</button>
                        <button (click)="openEditModal(investimento)"
                            class="btn bg-gradient-to-r from-orange-500 to-orange-700 shadow-md text-white px-4 py-2 ml-2 rounded">Editar</button>
                    </div>
                </div>
            </div>

            <!-- Botão de abrir/fechar -->
            <div class="w-full flex justify-center">
                <button (click)="toggleDetalhes(investimento.id_item)"
                    class="absolute -bottom-3 bg-orange-500 hover:bg-orange-600 text-white rounded-full w-10 h-10 flex items-center justify-center shadow">
                    <lucide-icon [name]="isDetalheVisivel(investimento.id_item) ? 'chevron-up' : 'chevron-down'"
                        class="w-5 h-5" />
                </button>
            </div>
        </div>
    </div>

    <!-- Mensagem se não houver investimentos -->
    <div *ngIf="!loading && investimentosFiltrados.length === 0" class="text-gray-500">
        Nenhum investimento encontrado.
    </div>
</div>

<div *ngIf="isModalOpen"
    class="fixed inset-0 flex items-center justify-center z-50 bg-gray-800 bg-opacity-50 font-sans">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-lg w-full">
        <h2 class="text-xl font-bold text-center text-white">Editar Investimento</h2>

        <!-- Formulário de edição -->
        <form (ngSubmit)="updateInvestimento()">

            <!-- Foto do Investimento -->
            <div class="mt-4 bg-black flex items-center justify-center p-4 rounded-lg">
                <img [src]="currentInvestimento.foto_url" alt="Foto do Investimento"
                    class="w-30 h-48 object-cover rounded-lg" />
            </div>

            <div class="space-y-4">
                <h1 class="mt-2 text-3xl text-sm font-semibold text-white flex items-center justify-center">
                    {{currentInvestimento.nome}}</h1>

                <div class="flex flex-col">
                    <label for="valor_compra" class="text-sm font-semibold text-white">Valor Compra</label>
                    <input type="number" [(ngModel)]="currentInvestimento.valor_compra" name="valor_compra"
                        class="input w-full bg-black text-white" required />
                </div>

                <div class="flex flex-col">
                    <label for="valor_vendido" class="text-sm font-semibold text-white">Valor Vendido</label>
                    <input type="number" [(ngModel)]="currentInvestimento.valor_vendido" name="valor_vendido"
                        class="input w-full bg-black text-white" required />
                </div>

                <div class="flex flex-col">
                    <label for="data_compra" class="text-sm font-semibold text-white">Data Compra</label>
                    <input type="datetime-local" [(ngModel)]="currentInvestimento.data_compra" name="data_compra"
                        class="input w-full bg-black text-white" required />
                </div>
            </div>

            <div class="flex justify-end mt-4">
                <!-- Botão Fechar -->
                <button type="button" (click)="closeModal()"
                    class="text-blue-500 hover:text-blue-700 hover:text-blue-100 border-none bg-transparent mr-3">
                    Fechar
                </button>

                <!-- Botão Remover -->
                <button type="button" (click)="removeInvestimento()"
                    class="bg-red-500 text-white hover:bg-red-600 px-4 py-2 rounded-lg">
                    Remover
                </button>

                <!-- Botão Salvar -->
                <button type="submit" class="btn bg-blue-500 text-white hover:bg-blue-600 ml-2">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>