<div class="flex flex-col md:flex-row h-screen items-center justify-center bg-gradient-to-r from-orange-600 to-orange-900">
  <div class="flex flex-col justify-center h-[20%] w-screen text-white font-bold text-4xl px-8">
    <h1>Crie sua conta</h1>
    <h1>É rápido e fácil!</h1>
  </div>

  <div class="flex flex-col md:justify-center h-[80%] md:h-screen bg-white px-8 rounded-t-3xl md:rounded-l-3xl md:rounded-tr-none shadow-md w-screen">
    <form (submit)="register()" class="pt-20 md:pt-0">
      <!-- E-mail -->
      <div class="mb-4">
        <label for="email"
          class="block text-lg font-medium bg-gradient-to-r from-orange-600 to-orange-900 bg-clip-text text-transparent">
          E-mail
        </label>
        <input type="email" id="email" [(ngModel)]="email" name="email"
          class="w-full p-2 border-b-2 rounded bg-white text-black" required />
      </div>

      <!-- Senha -->
      <div class="mb-4 relative">
        <label for="password"
          class="block text-lg font-medium bg-gradient-to-r from-orange-600 to-orange-900 bg-clip-text text-transparent">
          Senha
        </label>
        <input [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password"
          class="w-full p-2 pr-10 border-b-2 rounded bg-white text-black" required />
        <button type="button" (click)="togglePasswordVisibility()" class="absolute right-2 top-9">
          <!-- Ícones -->
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-orange-600">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12s3.75-6.75 9.75-6.75S21.75 12 21.75 12s-3.75 6.75-9.75 6.75S2.25 12 2.25 12z" />
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-orange-600">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.98 8.223A10.477 10.477 0 002.25 12s3.75 6.75 9.75 6.75a9.75 9.75 0 004.5-1.074M6.228 6.228A9.735 9.735 0 0112 5.25c6 0 9.75 6.75 9.75 6.75a10.48 10.48 0 01-1.772 2.977M6.228 6.228L3 3m0 0l3.228 3.228M3 3l18 18" />
          </svg>
        </button>
      </div>

      <!-- Botão de Registro -->
      <button type="submit"
        class="w-full bg-gradient-to-r mt-20 md:mt-2 from-orange-600 to-orange-900 text-white text-2xl p-2 rounded-3xl font-bold transition-colors hover:from-orange-700 hover:to-orange-800 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
        [disabled]="isLoading">
        {{ isLoading ? 'Registrando...' : 'Registrar' }}
      </button>

      <!-- Link para login -->
      <div class="flex flex-col absolute bottom-4 right-4 text-base">
        <span class="flex justify-end text-gray-600">Já tem uma conta?</span>
        <a href="/login"
          class="flex justify-end font-medium bg-gradient-to-r from-orange-600 to-orange-900 bg-clip-text text-transparent">
          Entrar
        </a>
      </div>
    </form>

    <!-- Erro -->
    <div *ngIf="errorMessage" class="mt-4 text-red-500">{{ errorMessage }}</div>
  </div>
</div>
